<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BrandishJWP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D076B0021CCED6D7001358FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D076B01B1CCED6D8001358FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D076B0261CCED6D8001358FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
